@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/slick-carousel/slick/slick-theme.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/ngToast/dist/ngToast.min";
@import "bower_components/ngToast/dist/ngToast-animations.min";
@import "bower_components/angular-ui-router-anim-in-out/scss/anim-in-out";
@import "pace-preloader.css";
@import "modal.scss";
@import "modules/cookieConsent";

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    h1 {
        color: #333333;
    }
    .slide {
        margin-top: 20px;
        font-size: 150%;
    }
}

@media (min-width: 768px) {
    #left {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }

    #right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
    }
}

#left {
    background-color: #FC6E51;

    height: 100%;
}

#right {
    height: 100%;
    background-color: #4FC1E9;

}

/* Small Devices, Tablets */
@media (max-width: 991px) {
    body {

    }
}

@media (min-width: 992px) {
    body {

    }

}

#homeOverBut {
    background-color: #00b3ee;
    padding: 6px;
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
}

#callMenu {
    height: 20px;
    position: absolute;
    top: 0px;
    background-color: #00b3ee;
}

#main {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1 {
    font-size: 10em;
    margin: 0;
}

#main .wrapper, .rightWrapper {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40px;
    bottom: 10%;
    height: 10em;
}

.active {
    color: #cc0000;
}

.contactImageFrameSmall {
    img {
        width: 20px;

    }
}

[ui-view] {
    position: absolute;
}

pre {
    position: absolute !important;
    width: 100%;
    bottom: 0;
}

.verificationWarning {
    position: fixed;
    background-color: #5cb85c;
    bottom: 0;
    padding: 8px;
    z-index: 1000;
}

/* fade in out */

.fadable {
    transition: 0s linear all;
}

.fadable.ng-hide-remove {
    opacity: 0;
    display: block !important;
    transition: 0.5s linear all;
}

.fadable.ng-hide-remove.ng-hide-remove-active {
    opacity: .5;
}

.fadable.ng-hide-add {
    opacity: .5;
    display: block !important;
    transition: 0.5s linear all;
}

.fadable.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

