<div class = "notVerifiedOverlay">
    <div class = "overlayInner">
        <div class = "messageContainer">
            <div class = "titleImage">
                <img src = "images/exclamation.svg" height = "50px">
            </div>
            <div class = "messageText">
                {{notVerifiedStrings.message1}}
            </div>
            <div class = "messageText">
                {{notVerifiedStrings.message2}}
            </div>
            <div class = "messageText">
                <a href = "#/verification/resend">
                    {{notVerifiedStrings.messageLinkText}}
                </a>
            </div>

        </div>
    </div>
</div>
