.azImageButton {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;

    border: 0;
    overflow: hidden;
    text-indent: -200vw;
    &:focus {
        outline: 0;
    }
    &:hover {
        background-color: transparent;
    }
    height: 3.8vw;
    width: 30%;
    margin: 0 auto;
    min-height: 100px;
    max-width: 350px;
    min-width: 200px;
    @media (max-width: 450px) {
        width: 50%;
    }
}

.azButton {
    color: #ffffff;
    background-color: $buttonColour;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;

    &:hover {
        background-color: $buttonColour;
    }
}

.az3dButton {
    color: #ffffff;
    background-color: $buttonColour;
    padding: 8px 50px;
    border-radius: 25px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;

    @include shadow(4px, $buttonBackdropColour);

    &:active {
        margin-top: 9px;
        margin-bottom: 1px;
        @include shadow(0, $buttonBackdropColour);
    }
}

.sliderButton {
    border: none;
    border-radius: 20px;
    width: 50px;
    @include flexbox;
    margin-left: 5px;
    background-color: $NeutralColour1;
    cursor: pointer;

    .slider {
        padding: 3px 8px 2px 7px;
        height: 100%;
        border-radius: 20px;
        color: #FFFFFF;
    }
}

.sliderButtonOn {
    @extend .sliderButton;

    @include justify-content(flex-end);

    .slider {
        background-color: $MainColour1;
    }
}

.sliderButtonOff {
    @extend .sliderButton;

    @include justify-content(flex-start);

    .slider {
        background-color: $NeutralColour2;
    }
}
