@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Soft-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('/fonts/Sofia-Pro-Soft-Bold.ttf');
    font-weight: bold;
}
