<div ng-class = "(isDeskTop?'rightWrapper':'wrapper')" style = "margin-top:0px;">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "list-group navigation">
                <button type = "button" ng-if = "ginoDesko" ui-sref = "editadultprofile({profileId:$root.userID})"
                        class = "list-group-item list-group-item-action">
                    DESKTOP RESOLUTION <i class = "glyphicon glyphicon-remove"></i>

                </button>
                <img class = "img-responsive" src = "images/rollllzzz.jpg">
                <button type = "button" ui-sref = "displayprofile({profileType:'adult',profileId:$root.userID})"
                        class = "list-group-item list-group-item-action">
                    Adult Profile
                </button>
                <button type = "button" ui-sref = "editadultprofile({profileId:$root.userID})"
                        class = "list-group-item list-group-item-action">
                    Edit Adult Profile
                </button>
                <button type = "button" class = "list-group-item list-group-item-action" ui-sref = "subscriptionstatus">
                    Subscription
                </button>
                <button type = "button" class = "list-group-item list-group-item-action" ui-sref = "voucherredemption">
                    Redeem
                </button>
                <div class = "list-group-item list-group-item-action"><a href = "#">Value 1 <i
                    class = " icon-remove pull-right"></i></a></div>
                <div class = "list-group-item list-group-item-action active">Manage Kids Accounts
                </div>
                <li class = "list-group-item list-group-item-action"
                    ng-repeat = "profile in $root.childProfiles"
                    id = "child-nav-{{$index}}">
                    <div class = "justify-content">

                        <div class = "contactImageFrameSmall">
                            <a ui-sref = "editprofile({profileId:profile.id})">
                                <img ng-src = "{[{profile.avatar}]}"/>
                            </a>

                        </div>
                        <div> {[{profile.profileName}]}</div>
                    </div>

                </li>
                <li class = "list-group-item list-group-item-action"
                    ui-sref = "editprofile({profileId:'create'})">Add Kid Account
                </li>

                <div class = "list-group-item list-group-item-action active">Support
                </div>
                <button type = "button" href = "#" class = "list-group-item list-group-item-action">
                    FAQ
                </button>
                <button type = "button" class = "list-group-item list-group-item-action" href = "#">
                    Contact US
                </button>
                <button type = "button" class = "list-group-item list-group-item-action" ng-click = "$root.logOut()">Log
                    Out
                </button>
            </div>
        </div>
    </div>
</div>
