<div class = "wrapper">

    <div class = "logoWrapper">
        <div class = "logo">
            <img src = "images/logos/azoomee_logo.svg">
        </div>
    </div>
    <div class = "loginMsg" ng-show = "!resetError">
        Forgotten Password
    </div>
    <div class = "loginMsg" ng-show = "resetError">
        {{resetErrorText}}
    </div>
    <form name = "loginForm" class = "credentialsForm" ng-submit = "submit()" novalidate>
        <div class = "field">
            <div ng-show = "errorMsg" class = "errorMsg fieldValue"><strong>{{errorMsg}}</strong></div>
        </div>
        <div class = "field" ng-show = "showTokenField">
            <div class = "fieldValue">
                <input type = "text" ng-model = "token" placeholder = "{{strings.token}}" required>
            </div>
        </div>
        <div class = "field">
            <div class = "fieldValue">
                <input type = "password" ng-model = "pwd" name = "pwd" placeholder = "{{strings.choosePassword}}"
                       required>
            </div>
        </div>
        <div class = "field">
            <div class = "fieldValue">
                <input type = "password" ng-model = "confirmedPwd" name = "confirmedPwd"
                       placeholder = "{{strings.confirmPassword}}" required match = "pwd">
            </div>
        </div>

        <div class = "submitButtonWrapper">
            <div class = "submitButton">
                <input type = "submit" class = "autoSize forgottenPasswordButton"
                       value = "{{strings.resetPasswordSubmit}}"/>
            </div>
        </div>
    </form>
    <div>
        Don't have an account? <a href = "#/signup">SIGN UP</a>
    </div>
</div>


