<div class = "wrapper">

    <div class = "loginMsg" ng-show = "!resetError">
        Forgotten Password
    </div>
    <div class = "loginMsg" ng-show = "resetError">
        {{resetErrorText}}
    </div>
    <form name = "loginForm" class = "credentialsForm" ng-submit = "submit()" novalidate>
        <div class = "field">
            <div ng-show = "errorMsg" class = "errorMsg fieldValue"><strong>{{errorMsg}}</strong></div>
        </div>
        <div class = "field" ng-show = "showTokenField">
            <div class = "fieldValue">
                <input type = "text" ng-model = "token" placeholder = "Token" required>
            </div>
        </div>
        <div class = "field">
            <div class = "fieldValue">
                <input type = "password" ng-model = "pwd" name = "pwd" placeholder = "New Password" required>
            </div>
        </div>
        <div class = "field">
            <div class = "fieldValue">
                <input type = "password" ng-model = "confirmedPwd" name = "confirmedPwd"
                       placeholder = "Confirm New Password" required match = "pwd">
            </div>
        </div>

        <div class = "submitButtonWrapper">
            <div class = "submitButton">
                <input type = "submit" class = "autoSize forgottenPasswordButton" value = "Reset Password"/>
            </div>
        </div>
    </form>
    <div>
        Don't have an account? <a ui-sref = "signup">SIGN UP</a>
    </div>
</div>


