<div class = "viewHeader">{[{strings.passwordTitle}]}</div>
<br/>
<div class = "passwordChangeSection">
    <form name = "passwordUpdateForm" ng-submit = "changePassword()">
        <input class = "field" ng-model = "oldPassword" type = "password" placeholder = "{[{strings.oldPassword}]}"
               required/><br/>
        <input class = "field" ng-model = "newPassword" type = "password" placeholder = "{[{strings.newPassword}]}"
               required/><br/>
        <input class = "field" ng-model = "confirmedPassword" type = "password"
               placeholder = "{[{strings.confirmPassword}]}" required match = "newPassword"/><br/>
        <az-status-board status-object = "status"></az-status-board>
        <input class = "submitButton" type = "submit" value = "{[{strings.submit}]}">
    </form>
</div>
