<div class = "wrapper">


    <div class = "login">
        <div class = "logoWrapper">
            <div class = "logo">
                <img src = "images/logos/azoomee_logo.svg">
            </div>
        </div>

        <div class = "loginMsg" ng-show = "userMessage">
            {[{userMessage}]}
        </div>

        <div class = "loginMsg" ng-show = "!loading">
            Log In
        </div>
        <form name = "loginForm" class = "credentialsForm" ng-submit = "submit()" novalidate ng-show = "!loading">
            <div class = "field">
                <div ng-show = "errorMsg" class = "errorMsg fieldValue" id = "errorMessage">
                    <strong>
                        {[{errorMsg}]}
                    </strong>
                </div>
            </div>
            <div class = "field">
                <div class = "fieldValue">
                    <input type = "email" ng-model = "userId" placeholder = "{[{strings.email}]}" id = "profilename"
                           required>
                </div>
            </div>
            <div class = "field">
                <div class = "fieldValue">
                    <input type = "password" name = "password" ng-model = "pwd" placeholder = "{[{strings.password}]}"
                           id = "password" required>
                </div>
            </div>
            <div class = "submitButtonWrapper">
                <input type = "submit" value = "{[{strings.submit}]}" class = "loginButton" id = "loginButton"/>
            </div>
        </form>
        <div ng-show = "!loading">
            {[{strings.noAccount}]} <a ui-sref = "signup">{[{strings.signUp}]}</a><br/>
            <a ui-sref = "forgotten">{[{strings.forgottenPassword}]}</a><br/>
        </div>
        <div ng-show = "loading" class = "loadingIcon">
            Logging you in
        </div>
    </div>
</div>
