<div class = "viewHeader">{[{strings.title}]}</div>
<div class = "cardRejection">
    <div class = "cardRejectionMsg">
        <div class = "oomeeRejection1"></div>
        <div class = "oomeeRejection2"></div>
        <div class = "cardRejectionHeader">{[{strings.oops}]}</div>
        <div class = "cardRejectionMsgContent">
            {[{strings.unableToProcessCard}]}
        </div>
    </div>

    <button class = "tryAgainButton" ng-click = "tryAgain()">{[{strings.tryAgain}]}</button>
</div>
